---
const {i1, l1, i2, l2, i3, l3, i4, l4, i5, l5} = Astro.props
---
<div class="grid grid-cols-5 gap-3 px-10">
  <a href={i1} target="_blank"><img src={i1} alt={l1} title={l1}></a>
  <a href={i2} target="_blank"><img src={i2} alt={l2} title={l2}></a>
  <a href={i3} target="_blank"><img src={i3} alt={l3} title={l3}></a>
  <a href={i4} target="_blank"><img src={i4} alt={l4} title={l4}></a>
  <a href={i5} target="_blank"><img src={i5} alt={l5} title={l5}></a>
</div>

<style>
  img{
    object-fit: cover;
    height: 150px;
  }
</style>