---
export interface Props {
	title: string;
}


const { title, edition } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Université de Sherbrooke" />
    <meta name="author" content="Cégep de Sherbrooke" />
    <meta name="author" content="Joshua Vachon" />
    <meta name="description" content="Une semaine intensive, 10 étudiant.e.s du cégep, 10 étudiant.e.s de l'université, des archives carcérales... Un seul objectif : en apprendre plus sur l'histoire de la prison Winter de Sherbrooke">
    <meta name="keywords" content="prison, sherbrooke, archives, prison winter, université de sherbrooke, cégep de sherbrooke, histoire, criminologie, histoire carcérale">
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url.pathname, "https://www.projet-winter.ca")} />
    <meta property="og:image" content={new URL(`/assets/img/${edition}_thumb.png`,  "https://www.projet-winter.ca")} />
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content="Une semaine intensive, 10 étudiant.e.s du cégep, 10 étudiant.e.s de l'université, des archives carcérales... Un seul objectif : en apprendre plus sur l'histoire de la prison Winter de Sherbrooke">
    <meta name="twitter:image" content={new URL(`/assets/img/${edition}_thumb.png`,  "https://www.projet-winter.ca")}>
    <meta name="twitter:card" content="summary_large_image">
	</head>
	<body>
		<slot />
	</body>
</html>


<style>
  .pages-2020{
    background: linear-gradient(0deg, rgba(19,17,24,1) 0%, rgba(47,42,46,1) 100%);
  }

  .pages-2022{
    background: linear-gradient(0deg, rgba(41,20,14,1) 0%, rgba(59,41,36,1) 100%);
}
</style>
